<!--Main Navigation-->
<header>
    {{!-- navbar --}}
<div class="navbar-fixed">
            <nav>
                <div class="nav-wrapper">
                    <a href="#" class="brand-logo">Cameron Kopel</a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#">About Me</a></li>
                        <li><a href="#">Portfolio</a></li>
                        <li><a href="#">Contact Me</a></li>
                    </ul>
                </div>
            </nav>
        </div>

    {{!-- parrallax --}}
    <div class="parallax-container">
        <div class="parallax"><img class="temp" src="/assets/img/img1.jpg"></div>
    </div>
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</header>

